@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.blog-wrap {
	text-align: center;
	margin: auto;
}

.login-form {
	margin: auto;
}

.footer {
	min-height: 20vh;
	background-color: #e1e1e1;
}